<form autocomplete='off'>
  <header class='header'>
    <h1>{{deckName}}</h1>
    <button type='button' class='add-card'>
      <i class='fa-solid fa-lg fa-plus'></i>
      {{localize 'DOCUMENT.Card'}}
    </button>
  </header>
  <section class='body'>
    <ul class='card-list'>
      {{#each cards as |card|}}
        <li class='flexrow'>
          <img
            class='card-face'
            src='{{card.currentFace.img}}'
            alt='{{card.name}}'
            data-id='{{card.id}}'
            loading='lazy'
          />
          <span class='flexcol card-details'>
            <span class='form-group'>
              <label for='{{card.uuid}}-name'>{{localize 'Name'}}</label>
              <span class='form-fields'>
                <input
                  id='{{card.uuid}}-name'
                  type='text'
                  name='card.{{card.id}}.name'
                  value='{{card.name}}'
                />
              </span>
            </span>
            <span class='form-group'>
              <label for='{{card.uuid}}-face'>
                {{localize 'SWADE.CardFace'}}
              </label>
              <span class='form-fields'>
                <input
                  type='text'
                  name='card.{{card.id}}.img'
                  value='{{card.currentFace.img}}'
                />
                <button
                  id='{{card.uuid}}-face'
                  type='button'
                  class='file-picker'
                  data-type='image'
                  data-target='card.{{card.id}}.img'
                  title='Browse Files'
                >
                  <i class='fas fa-file-import fa-fw'></i>
                </button>
              </span>
            </span>
            <span class='form-group'>
              <label>{{localize 'SWADE.CardSuit'}}</label>
              <span class='form-fields'>
                <select data-dtype='Number' name='card.{{card.id}}.suitValue'>
                  {{#select card.system.suit}}
                    <option value='4'>{{localize 'SWADE.Cards.Spades'}}</option>
                    <option value='3'>{{localize 'SWADE.Cards.Hearts'}}</option>
                    <option value='2'>{{localize 'SWADE.Cards.Diamonds'}}</option>
                    <option value='1'>{{localize 'SWADE.Cards.Clubs'}}</option>
                    <option value='99'>{{localize 'SWADE.Cards.Jokers'}}</option>
                  {{/select}}
                </select>
              </span>
            </span>
            <span class='form-group'>
              <label>{{localize 'SWADE.CardValue'}}</label>
              <span class='form-fields'>
                <select data-dtype='Number' name='card.{{card.id}}.cardValue'>
                  {{#select card.value}}
                    <option value='2'>{{localize 'SWADE.Cards.Two'}}</option>
                    <option value='3'>{{localize 'SWADE.Cards.Three'}}</option>
                    <option value='4'>{{localize 'SWADE.Cards.Four'}}</option>
                    <option value='5'>{{localize 'SWADE.Cards.Five'}}</option>
                    <option value='6'>{{localize 'SWADE.Cards.Six'}}</option>
                    <option value='7'>{{localize 'SWADE.Cards.Seven'}}</option>
                    <option value='8'>{{localize 'SWADE.Cards.Eight'}}</option>
                    <option value='9'>{{localize 'SWADE.Cards.Nine'}}</option>
                    <option value='10'>{{localize 'SWADE.Cards.Ten'}}</option>
                    <option value='11'>{{localize 'SWADE.Cards.Jack'}}</option>
                    <option value='12'>{{localize 'SWADE.Cards.Queen'}}</option>
                    <option value='13'>{{localize 'SWADE.Cards.King'}}</option>
                    <option value='14'>{{localize 'SWADE.Cards.Ace'}}</option>
                    <option value='99'>{{localize 'SWADE.Cards.RedJoker'}}</option>
                    <option value='98'>{{localize 'SWADE.Cards.BlackJoker'}}</option>
                    <option value='97'>{{localize 'SWADE.Cards.BlueJoker'}}</option>
                    <option value='96'>{{localize 'SWADE.Cards.GreenJoker'}}</option>
                  {{/select}}
                </select>
              </span>
            </span>
          </span>
        </li>
      {{/each}}
    </ul>
  </section>
  <button type='submit' name='submit' id='submit'>
    <i class='far fa-save'></i>{{localize 'SETTINGS.Save'}}
  </button>
</form>