<form class='main-grid {{cssClass}}' autocomplete='off'>
  <figure class='grid-under gu-1'></figure>
  <figure class='grid-under gu-2'></figure>
  <figure class='grid-under gu-3'></figure>
  <figure class='grid-under gu-4'></figure>

  {{!-- Sheet Header --}}
  {{> 'systems/swade/templates/item/partials/header.hbs'}}

  {{!-- Sidebar --}}
  <section class='sheet-sidebar'>
    <div class="form-group">
      <label for="{{item.uuid}}-rank">
        {{localize "SWADE.Rank"}}
      </label>
      <span class="form-fields">
        <input
          id="{{item.uuid}}-rank"
          name="system.rank"
          type="text"
          value="{{item.system.rank}}"
          placeholder="{{localize 'SWADE.Rank'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label for="{{item.uuid}}-pp">
        {{localize "SWADE.PPShort"}}
      </label>
      <span class="form-fields">
        <input
          id="{{item.uuid}}-pp"
          name="system.pp"
          type="text"
          value="{{item.system.pp}}"
          placeholder="{{localize 'SWADE.PP'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label for="{{item.uuid}}-range">
        {{localize "SWADE.Range._name"}}
      </label>
      <span class="form-fields">
        <input
          id="{{item.uuid}}-range"
          name="system.range"
          type="text"
          value="{{item.system.range}}"
          placeholder="{{localize 'SWADE.Range._name'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label for="{{item.uuid}}-duration">
        {{localize "SWADE.Dur"}}
      </label>
      <span class="form-fields">
        <input
          id="{{item.uuid}}-duration"
          name="system.duration"
          type="text"
          value="{{item.system.duration}}"
          placeholder="{{localize 'SWADE.Dur'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label for="{{item.uuid}}-damage">
        {{localize "SWADE.Dmg"}}
      </label>
      <span class="form-fields">
        <input
          id="{{item.uuid}}-damage"
          name="system.damage"
          type="text"
          value="{{item.system.damage}}"
          placeholder="{{localize 'SWADE.Dmg'}}"
          data-dtype="String"
      /></span>
    </div>
    <div class="form-group">
      <label for="{{item.uuid}}-ap">
        {{localize "SWADE.Ap"}}
      </label>
      <span class="form-fields">
        <input
          id="{{item.uuid}}-ap"
          name="system.ap"
          type="number"
          value="{{item.system.ap}}"
          placeholder="{{localize 'SWADE.Ap'}}"
          data-dtype="Number"
      /></span>
    </div>
    <div class="form-group">
      <label for="{{item.uuid}}-arcane">
        {{localize "SWADE.Arcane"}}
      </label>
      <span class="form-fields">
        <input
          id="{{item.uuid}}-arcane"
          name="system.arcane"
          type="text"
          value="{{item.system.arcane}}"
          placeholder="{{localize 'SWADE.Arcane'}}"
          data-dtype="String"
      /></span>
    </div>
    <hr>
    {{> 'systems/swade/templates/item/partials/additional-stats.hbs'}}
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class='tabs' data-group='main'>
    <a class='item' data-tab='description' data-group='main'>
      {{localize 'SWADE.Desc'}}
    </a>
    <a class='item' data-tab='properties' data-group='main'>
      {{localize 'SWADE.Properties'}}
    </a>
    <a class='item' data-tab='actions'>{{localize 'SWADE.Actions'}}</a>
  </nav>

  {{!-- Main Section --}}
  <section class='sheet-body'>
    <section class='tab description' data-group='main' data-tab='description'>
      <div>
        <input
          name="system.trapping"
          type="text"
          value="{{item.system.trapping}}"
          placeholder="{{localize 'SWADE.Trap'}}"
          title="{{localize 'SWADE.Trap'}}"
          data-dtype="String"
        />
      </div>
      {{> 'systems/swade/templates/item/partials/tabs/description.hbs'}}
    </section>
    <section class='tab properties' data-group='main' data-tab='properties'>
      <div class="form-group">
        <label for="{{item.uuid}}-innate">
          {{localize "SWADE.InnatePower"}}
        </label>
        <span class='form-fields'>
          <input id="{{item.uuid}}-innate" type='checkbox' name='system.innate' {{checked item.system.innate}}/>
        </span>
      </div>
      {{> 'systems/swade/templates/item/partials/templates.hbs'}}
      <hr>
      {{> 'systems/swade/templates/item/partials/action-properties.hbs'}}
      {{> 'systems/swade/templates/item/partials/bonus-damage.hbs'}}
    </section>
    <section class='tab actions' data-group='main' data-tab='actions'>
      {{> 'systems/swade/templates/item/partials/tabs/actions.hbs'}}
    </section>
  </section>

  <figure class='grid-cover gc-1'></figure>
  <figure class='grid-cover gc-2'></figure>
  <figure class='grid-cover gc-3'></figure>
  <figure class='grid-cover gc-4'></figure>
</form>